
.details{
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    padding: 0.5rem;
}

.dp{
    width: 5rem;
    height: 5rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.editProfile{
    padding: 0.5rem 1rem;
    background-color: var(--clr-background);
    color: var(--clr-primary);
    border: 1px solid var(--clr-neutral);
    border-radius: 0.5rem;
}

.follow{
    padding: 0.5rem 1rem;
    background-color: var(--clr-accent);
    color: var(--clr-white);
    border-radius: 0.5rem;
}

.info{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bio{
    font-weight: var(--fw-light);
}

.name{
    font-weight: var(--fw-bold);
}

.username{
    color: var(--clr-neutral);
}

.detailHighlight{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--clr-neutral);
  border-bottom: 1px solid var(--clr-neutral);
  max-width: 100vw;
  padding: 1rem 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.detailHighlight > div{
    word-spacing: 0.3rem;
}

.detailHighlight > button{
    display: block;
    background: none;
    color: var(--clr-primary);
    word-spacing: 0.3rem;
}

.detailHighlight > div > span{
    color: var(--clr-neutral);
}

.detailHighlight >button> span{
    color: var(--clr-neutral);
}


@media(min-width: 50em){
    .details, .detailHighlight{
        max-width: 33rem;
    }

}