.bottomNav{
    width: 100vw;
    padding: 1rem;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-background);
    z-index: 2;
}

.active{
    color: var(--clr-accent) !important;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}

.listItem a{
    color: var(--clr-primary);
}

.itemActive{
    color: var(--clr-accent);
}

.dp{
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--clr-primary);
}

.create{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    top: -4.5rem;
    right: 1rem;
    background-color: var(--clr-accent);
}

.plus{
    margin-inline: auto;
    color: var(--clr-white);
}


@media(min-width: 50em){
    .bottomNav{
        display: none;
    }
}