.bottomNav{
    width: 100%;
    padding: 1rem;
    display: block;
    position: fixed;
    bottom: 0;
}

.active{
    color: var(--clr-accent) !important;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.listItem a{
    color: var(--clr-primary);
}

.create{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: -4rem;
    right: 1rem;
    background-color: var(--clr-accent);
}

.plus{
    margin-inline: auto;
    color: var(--clr-primary);
}


@media(min-width: 50em){
    .bottomNav{
        display: none;
    }
}