.sidebar{
    padding: 1rem;
    position: fixed;
    left: 0;
    width: 20vw;
    height: 80vh;
    display: none;
    border: 1px solid blue;
}

.listItem{
    width: 10rem;
    padding: 16px;
    display: flex;
    gap: 1rem;
    margin-inline: auto;
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
    cursor: pointer;
}

.dp{
    width: 2rem;
    height: 2rem;
}

.icons{
    transition: transform 0.2s ease-in;
}

.listItem:hover{
    .icons{
        transform: scale(1.1);
    }
}

.listItem a{
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.active{
 color: var(--clr-accent) !important;

}

.create{
    background-color: var(--clr-accent);
    color: var(--clr-white);
    font-weight: var(--fw-bold);
    padding: 0.8rem 2rem;
    border-radius: 1.5rem;
    margin-top: auto;
    align-self: center;
}

@media(min-width: 50em){
    .sidebar{
        display: flex;
    }
}