.label{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.required{
    font-size: 1.5rem;
    color: lightcoral;
}

.inputContainer{
    display: flex;
    align-items: center;
}

.icon{
    color: var(--clr-neutral);
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.1rem;
}