.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feed{
    gap: 1rem;
    align-items: stretch;
}


.content-container{
    margin-left: 0;
    width: 100%;
    padding-inline: 1rem;
    padding-bottom: 5rem;
}

.requires-top-padding{
    padding-top: 1rem;
}

.empty-list{
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);
    margin-top: 8rem;
}

@media(min-width: 50em){
    .content-container{
        margin-inline: auto;
        max-width: calc(100% - 55vw);
        padding-bottom: 1rem;
    }
}